body {
    font-family: 'Itim', 'Roboto', sans-serif;
    color: #1B263B;
}

header, nav, main, footer, #banner {
    margin: auto;
}

h1, h2, h3, h4 {
    font-family: 'Copse', 'Roboto', sans-serif;
}

header {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 10px 0px 10px 0px;
    background-color: #9AE0F1;
}

h1 {
    font-size: 26px;
    text-align: center;
}

header img {
    margin-right: 0.5rem;
    margin-left: 1rem;
    width: 50%;
}

header h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

nav {
    margin: 0 auto;
    border: 1px solid #29374C;
    background-color: #86AEBF;
}


#menu {
	font-size: 1.5rem;
	border: 1px solid #1B263B;
	padding: 4px 8.5px;
    margin: 0%;
	background-color: #ACB7C3;
    position: relative;
    left: 46%;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "✕";
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    color: #1B263B;
}

.navigation li {
	display: none;
}

.navigation li a {
	display: block;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #000;
}
.navigation li a:hover {
	background-color: #29374C;
	color: #D0F1F9;
}

.open li {
	display: block;
	width: 100%;
}
.open li a {
	display: block;
}

main {
    display: grid;
    grid-gap: 1rem;
    padding-bottom: 2rem;
    border: 1px solid rgba(0,0,0,.75);
    background-color: #C3DCE5;
}

#hero {
	margin: 10px auto;
	position: relative;
	border: 1px solid rgba(0,0,0,.1);
    margin: 1rem 1rem 0rem 1rem;
    height: 300px;
}

#hero img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.herolabel {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
	margin: 0;
	padding: 1rem;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
	color: #D0F1F9;
    background: radial-gradient(#36111F, #1B263B);
	border: 1px solid rgba(0,0,0,.75);
	box-shadow: 0 0 3rem #fff;
	opacity: 0.75;
}

.herolabel:hover {
    color: #1B263B;
    background: radial-gradient(#ACB7C3, #9AE0F1);
    opacity: 0.75;
}

.events {
    display: block;
}

#weather {
    display: block;
    margin: auto;
    border: 1px solid rgba(0,0,0,.75);
    background-color: #D0F1F9;
    width: 80%;
    margin-bottom: 1rem;
    text-align: center;
}

#weather h5 {
    margin: 0;
    background-color: #9AE0F1;
    padding: .5rem;
}


.main-event {
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid rgba(0,0,0,.75);
    background-color: #ACB7C3;
    margin: auto;
    margin-bottom: 1rem;
}

.main-event h3 {
    grid-row: 1;
    grid-column: 1/4;
    text-align: center;
    margin: 0;
    padding: 1%;
    background-color: #D0F1F9;
    color: #364154;
}

.main-event img {
    width: 100%;
    height: 300px;
    grid-row: 2;
    grid-column: 1/4;
}

.main-event a, .event-cards a {
    grid-row: 2;
    grid-column: 2/3;
	border: 1px solid #0D1B2A;
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100px;
    max-height: 40px;
    padding: 0.5rem 0.1rem;
    background-color: #D0F1F9;
    margin: auto 0;
	text-align: center;
	text-decoration: none;
}

.main-event a:hover, .event-cards a:hover {
    background-color: #36111F;
    color: #C3DCE5;
}

.event-cards {
    width: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid rgba(0,0,0,.75);
    background-color: #ACB7C3;
    margin: auto;
    margin-bottom: 0.5rem;
}

.event-cards h3 {
    grid-row: 1;
    grid-column: 1/4;
    text-align: center;
    margin: 0;
    padding: 1%;
    background-color: #D0F1F9;
    color: #364154;
}

.event-cards img {
    width: 100%;
    height: 250px;
    grid-row: 2;
    grid-column: 1/4;
}

#spotlight-members {
    width: 95%;
    margin: auto;
    border: 1px solid black;
    background-color: #D0F1F9;
}

#spotlight-members h2 {
    text-align: center;
    background-color: #92A2B6;
    margin: 0;
    padding: .5rem;
}

.member-spotcards {
    margin: 0;
    padding-top: .5rem;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.member-spotcards .member-card {
    border: 1px solid black;
    margin-bottom: 1rem;
    text-align: center;
    background-color: #9AE0F1;
    max-width: 300px;
    width: 300px;
}

.member-spotcards h3 {
    text-align: center;
    background-color: #ACB7C3;
    margin: 0;
    padding: .5rem;
}

.member-spotcards img {
    align-self: center;
    padding: .5rem 0 .25rem 0;
}

.member-spotcards .member-info {
    padding: 0 .5rem;
    background-color: #ACB7C3;
}

.member-spotcards .member-info p:last-child {
    background-color: #D0F1F9;
    padding: .5rem;
    margin: 0 -.5rem;
}

footer {
    border: 1px solid #000;
    padding: 1rem;
    padding-left: 0;
    padding-right: 0;
    background-color: #364154;
}

footer p {
    display: flex;
    justify-content: center;
    margin: 0.5rem;
    color: #C3DCE5;
}

/*-----Discover-Page-----*/

#discover-main {
    margin: auto;
    padding-top: 2.5rem;
}

.main-side {
    width: 95%;
    border: #000 solid 1px;
    margin: auto;
    background-color: #ACB7C3;
}

.main-side picture {
    display: block;
    margin: 1rem;
    border: #9AE0F1 solid 8.5px;
    border-radius: 2% 2%;
    padding: 1% 1% 0% 1%;
    background-color: #9AE0F1;
}

.main-side picture img {
    width: 100%;
    height: 100%;
}

.main-side picture:last-child {
    margin-bottom: 1.5rem;
}

.sidebar {
    width: 95%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: block;
}

.last-visit {
    text-align: center;
    margin: 0.5rem;
    padding: 2.5rem;
    background-color: #9AE0F1;
    color: #36111F;
    border: #000 solid 1px;
}

.side-card {
    text-align: center;
    margin: .5rem;
    padding: .5rem;
    background-color: #9AE0F1;
    border: 1px solid rgba(0,0,0,.75);
}

.side-card img {
    width: 95%;
}

.side-card button {
	border: 1px solid #0D1B2A;
    background-color: #D0F1F9;
}


.side-card button:hover {
    background-color: #36111F;
    color: #C3DCE5;
}

.side-card a {
    display: block;
    margin: 1rem;
    padding: 5%;
    background-color: #86AEBF;
    color: #29374C;
    text-decoration: none;
}

.side-card a:hover {
    background-color: #36111F;
    color: #9AE0F1;
}

/*----------- FORM --------------*/

form {
    width: 95%;
    margin: auto;
}

form h2 {
    padding-top: 2rem;
    text-align: center;
}

form fieldset {
    margin: 2rem 0;
    border: 1px solid #0D1B2A;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: #0D1B2A;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.box-form{
    display: block;
    padding-top: 1rem;
    color: #1B263B;
    font-size: 1rem;    
}

form label.membership {
    display: block;
    padding: .75rem 0;
    color: #1B263B;
}

#userField, #organizationField {
    padding-bottom: 1rem;
}

form label.box-form input, form label.box-form select, form label.box-form textarea {
    display: block;
    font-size: 1rem;
    border: solid 1px #0D1B2A;
    border-radius: 4px;
    padding: .75rem;
    color: #1B263B;
    width: 90%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1);
}

form input.submitBtn {
    border: none;
    background-color: #1B263B;
    color: #E0E1DD; 
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
    margin-bottom: 0;
}

form input.submitBtn:hover {
    background-color: #92A2B6;
    color: #0D1B2A;
}

form label.box-form input:required {
    border-left: red solid 6px;
}

form label.box-form input:required:valid {
    border-left: green solid 6px;
}

/* MemberShip Level Benefits */

#membershipLevel {
    width: 98%;
    margin: auto;
}

#membershipLevel h2 {
    text-align: center;
    padding-top: 1rem;
}

.membership-card {
    border: 1px solid black;
    border-radius: 0% 8%;
    margin: 10px;
    background-color: #9AE0F1;
    color: #36111F;
}

.membership-card h3 {
    text-align: center;
    color: #36111F;
}

.membership-card p {
    margin: 1rem;
}

#thanks-main {
    margin: auto;
}

#thanks-main h2 {
    padding-top: 2rem;
    text-align: center;
}

#thanks-main p {
    margin: 0;
    text-align: center;
    font-size: large;
    padding-bottom: 2rem;
}


/* Directory Page */

#directory-main h2 {
    padding-top: 2rem;
    text-align: center;
}

.menu {
    display: block;
    justify-self: center;
}

#middle-main {
    margin: 0;
    padding: 0;
}

#grid, #list {
    padding: .5rem;
}

.grid {
    margin: auto;
    padding-top: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.grid .member-card {
    border: 1px solid black;
    margin-bottom: 1rem;
    text-align: center;
    background-color: #9AE0F1;
    max-width: 300px;
    width: 100%;
}

.grid .member-card h3 {
    text-align: center;
    background-color: #ACB7C3;
    margin: 0;
    padding: .5rem;
}

.grid .member-card img {
    align-self: center;
    padding: .5rem;
}

.grid .member-info {
    padding: 0 .5rem;
    background-color: #ACB7C3;
}

.grid .member-info p:last-child {
    background-color: #D0F1F9;
    padding: .5rem;
    margin: 0 -.5rem;
}

.list {
	display: flex;
	flex-direction: column;
}

.list section {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 0;
	padding: 0.25rem;
    align-items: center;
}


.list section img, .list .member-info p:last-child, .list .member-info a {
	display: none; 
}

.list section h3 {
	font-size: 1rem;
    padding-left: 2%;
}

.list section:nth-child(even) {
	background-color: #D0F1F9;
}

.list section:nth-child(odd) {
	background-color: #9AE0F1;
}

/* ----- banner ------ */

#banner {
    text-align: center;
    background-color: #AEF3E7;
    padding: .5rem 0;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    color: #000;
    position: relative;
}

#banner p {
    margin-right: 25px;
}

#banner div {
    margin: 0;
    position: absolute;
    top: 50%;
    right: 2%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#closeBanner {
    background-color: #AEF3E7;
    border: none;

}