body {
    font-family: "Copse", "Roboto", sans-serif;
    background-color: #9AE0F1;
}

header, nav, main, footer {
    max-width: 100%;
    margin: auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: #1B263B;
    color: #E0E1DD;
    padding: 10px 0px 10px 0px;
}

header img {
    margin-right: 1rem;
    max-width: 200px;
    width: 25%;
    width: 50%;
    height: 50%;
}

nav {
    margin: 0 auto;
    max-width: 800px;
    background-color: #0D1B2A;
    font-size: large;
}

nav a {
    display: block;
    color: #E0E1DD;
    text-decoration: none;
    text-align: center;
    padding: 1rem;
}

nav a:hover {
    border: 1px solid #fff;
    background-color: #92A2B6;
    color: #0D1B2A;
}

main h2 {
    margin: auto;
    padding: 1rem;
    color: #1B263B;
}

main {
    display: grid;
    grid-gap: 1rem;
}

.card {
    padding: 0 0 1rem 0;
    background-color: #ACB7C3;
    color: #0D1B2A;
    border-radius: 0% 0% 2% 2%;
    width: 100%;
    margin: auto;
}

.card h3 {
    background-color: #1B263B;
    color: #E0E1DD;
    display: flex;
    justify-content: center;
    margin-top: 0;
    padding: 0.5rem;
    border-radius: 2% 2% 0% 0%;   
}

.card ul {
    list-style-type:none;
    padding-left: 1rem;
}

.card a {
    text-decoration: none;
    color: #1B263B;
}

.card a:hover {
    color: #9AE0F1;
}

#card-2 a {
    list-style-type:none;
    padding-left: 1rem;
}

footer {
    background-color: #E0E1DD;
    color: #0D1B2A;
    margin-top: 3rem;
    padding: 0.5rem 0 1rem 0;
}

footer p {
    display: flex;
    justify-content: center;
    margin: 0.5rem;
}