body {
    font-family: "Copse", "Roboto", sans-serif;
    background-color: #9AE0F1;
}

header, nav, main, footer {
    max-width: 100%;
    margin: auto;
    color: #1B263B;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: #1B263B;
    color: #E0E1DD;
    padding: 10px 0px 10px 0px;
}

header img {
    margin-right: 1rem;
    max-width: 200px;
    width: 25%;
    width: 50%;
    height: 50%;
}

#mode {
    position: absolute;
    top: 1rem;
    right: 25%;
    cursor: pointer;
}

nav {
    max-width: 100%;
    margin: 0 auto;
    border: 1px solid #0D1B2A;
    background-color: #0D1B2A;
	color: #E0E1DD;
}


#menu {
	font-size: 1.5rem;
	border: 1px solid #0D1B2A;
	padding: 4px 8.5px;
    margin: 0%;
	background-color: #eee;
    position: relative;
    left: 46%;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "〤";
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation li {
	display: none;
}

.navigation li a {
	display: block;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #E0E1DD;
}
.navigation li a:hover {
	background-color: #92A2B6;
	color: #0D1B2A;
	font-weight: 700;
}

.open li {
	display: block;
	width: 100%;
}
.open li a {
	display: block;
}

main h2 {
    margin: auto;
    padding: 1rem;
}

main {
    display: grid;
    grid-gap: 1rem;
    width: 98%;
}

#hero {
	margin: 10px auto;
	position: relative;
	border: 1px solid rgba(0,0,0,.1);
    margin: 1rem 1rem 0rem 1rem;
	position: relative;
    height: 400px;
}

#hero img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.herolabel {
	position: absolute;
	top: 30px;
	left: 30px;
	background: radial-gradient(#fff, #4D5B97);
	border: 1px solid rgba(0,0,0,.75);
	padding: 1.0rem;
	box-shadow: 0 0 3rem #fff;
	opacity: 0.75;
	/* Buenas */
}

.herolabel p {
	margin: 0;
	padding: .25rem;
	font-weight: 700;
	font-size: 1rem;
	font-family:"Great Vibes", serif;
}

.card {
    padding: 0 0 1rem 0;
    background-color: #ACB7C3;
    color: #0D1B2A;
    border-radius: 0% 0% 2% 2%;
    width: 100%;
    margin: auto;
}

.card h3 {
    background-color: #1B263B;
    color: #E0E1DD;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5rem;
    border-radius: 2% 2% 0% 0%;   
}

.card ul {
    list-style-type:none;
    padding-left: 1rem;
}

.card a {
    text-decoration: none;
    color: #1B263B;
}

.card a:hover {
    color: #9AE0F1;
}

#card-1 li {
    padding-bottom: 1rem;
}

#card-2 p {
    list-style-type:none;
    padding-left: 1rem;
}

footer {
    background-color: #E0E1DD;
    color: #0D1B2A;
    margin-top: 3rem;
    padding: 0.5rem 0 1rem 0;
}

footer p {
    display: flex;
    justify-content: center;
    margin: 0.5rem;
}

#iframe-map {
    display: grid;
    margin: 1rem 1rem 0rem 1rem;
	position: relative;
    height: 450px;
}

iframe {
    width: 100%;
	height: 100%;
	object-fit: cover;
}

.label {
	font-weight: 700;
    text-align: center;
}

#weather {
    padding-bottom: .5rem;
}

#weather figure {
    display: grid;
    justify-items: center;
}

#weather p {
    text-align: center;
}
