body {
    font-family: "Copse", "Roboto", sans-serif;
    background-color: #9AE0F1;
}

header, nav, main, footer {
    max-width: 100%;
    margin: auto;
    color: #1B263B;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: #1B263B;
    color: #E0E1DD;
    padding: 10px 0px 10px 0px;
}

header img {
    margin-right: 1rem;
    max-width: 200px;
    width: 25%;
    width: 50%;
    height: 50%;
}

#mode {
    position: absolute;
    top: 1rem;
    right: 25%;
    cursor: pointer;
}

nav {
    max-width: 100%;
    margin: 0 auto;
    border: 1px solid #0D1B2A;
    background-color: #0D1B2A;
	color: #E0E1DD;
}


#menu {
	font-size: 1.5rem;
	border: 1px solid #0D1B2A;
	padding: 4px 8.5px;
    margin: 0%;
	background-color: #eee;
    position: relative;
    left: 46%;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "〤";
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation li {
	display: none;
}

.navigation li a {
	display: block;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #E0E1DD;
}
.navigation li a:hover {
	background-color: #92A2B6;
	color: #0D1B2A;
	font-weight: 700;
}

.open li {
	display: block;
	width: 100%;
}
.open li a {
	display: block;
}


footer {
    background-color: #E0E1DD;
    color: #0D1B2A;
    margin-top: 3rem;
    padding: 0.5rem 0 1rem 0;
}

footer p {
    display: flex;
    justify-content: center;
    margin: 0.5rem;
}

/*----------- FORM --------------*/

form fieldset {
    margin: 2rem 0;
    border: 1px solid #0D1B2A;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: #0D1B2A;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.box-form, form div {
    display: block;
    padding-top: 1rem;
    color: #1B263B;
    font-size: .8rem;    
}

form label.box-form input, form label.box-form select {
    display: block;
    font-size: 1rem;
    border: solid 1px #0D1B2A;
    border-radius: 4px;
    padding: .75rem;
    color: #1B263B;
    width: 90%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1);
}

form input.submitBtn {
    border: none;
    background-color: #1B263B;
    color: #E0E1DD; 
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
    margin-bottom: 0;
}

form input.submitBtn:hover {
    background-color: #92A2B6;
    color: #0D1B2A;
}

form label.box-form input:required {
    border-left: red solid 6px;
}

form label.box-form input:required:valid {
    border-left: green solid 6px;
}

/* Page rating */

.rate-label {
    display: block;
    padding-top: 1.5rem;
    color: #1B263B;
    font-size: 1rem;   
}

#rate {
	width: 100%;
    max-width: 15rem;
}

#rangevalues {
	display: flex;
    margin-left: .2rem;
    width: 100%;
	width: 15.8rem;
    font-size: 15px;
    padding-bottom: 1.5rem;
}

#rangevalues option {
	flex: 1 1 auto;
}



@media screen and (min-width: 500px) {
    
    header, nav, main, footer {
        max-width: 1080px;
    }

	#menu {
		display: none;
	}

	.navigation {
		flex-direction: row;
	}

	.navigation li {
		display: block;
		flex: 1 1 100%;
	}
}